.env
.env.*
*.log
vendor/
node_modules/
.idea/
.vscode/
.DS_Store
Thumbs.db
*.zip
*.zip
*.sql
*.log
*.xls
*.xlsx

admin/admin.zip
aryadi2.zip
aryadi3.zip

admin/site_visits/reports/
admin/corporate-tickets-old/
admin/mail/api.log
admin/dashboard/interpret_response.log

admin/employees/media/
